{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

{% block head %}

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{% block title %}Universal Ogg player {% endblock %}</title>
<link href="{{site_media_url}}sito/css/player.css" rel="stylesheet" type="text/css" media="screen" />

<script type="text/javascript" src="{{site_media_url}}sito/playogg/js/jquery.min.js"></script>
<script type="text/javascript" src="{{site_media_url}}sito/playogg/js/jquery.open.js"></script>

<script type="text/javascript">
   $("a.playerPopup").open({
      width: 400,
      height: 300,
      scrollbars: false
   });
</script>

</head>
{% endblock %}

<body>

{% block header %}
<div id="header-wrap" style="background: url({{ site_media_url }}sito/mediacastlogo.png) left bottom no-repeat;">
<div id="header">

<h1>{% trans "OGG Player" %}</h1>
</div>
</div>
{% endblock %}


{% block allcontent %}
{% endblock %}

<!--
<div id="footer-wrap">
<div id="footer">
{% block footer %}

{% endblock %}
</div>
</div>
-->

</body>
</html>
