__pycache__
*.pyc
*\#
django.mo
autoradio.sqlite3
autoplayer.xspf
*~
build
dist
autoradio.egg-info
man
MANIFEST
*.swf
*.jar
autoradio/programs/static/programs/playogg/js/*.js
autoradio/programs/static/programs/playogg/swfobject/*.js
media
