# at last substitute <userdir> with dir user writable
# and  <myuser>, <mygroup> with rigth user and group if you run as root

[autoradiod]

#player to use (xmms, audacious)
player="xmms"

#directory to put playlists
playlistdir="/<userdir>/django/media/spots"

# path to working file
logfile="/tmp/autoradio.log"
lockfile = "/tmp/autoradio.lock"
timestampfile = "/tmp/autoradio.timestamp"

# root path where to find media
base_path="/<userdir>"

# host xmms is running on
xmms_host="localhost"

#backward and forward time intervat to check for schedule conflict 
minelab=180

# tollerance time interval to recovery schedule not done ( backward time when start autoradiod )
# to adjust the programming you have to make changes minsched minutes before
minsched=5

locale="it_IT.UTF-8"

#user     = <myuser>
#group    = <mygroup>

  [[ env ]]
     DISPLAY=':0.0'

[autoradioweb]

logfile  = '/tmp/autoradioweb.log'
errfile  = '/tmp/autoradioweb.err'
lockfile = '/tmp/autoradioweb.lock'
#user     = <myuser>
#group    = <mygroup>
#port     = 'localhost:0.0'

[django]

DEBUG = True
TEMPLATE_DEBUG = True
FILE_UPLOAD_PERMISSIONS = 420

# Make this unique, and don't share it with anybody.
SECRET_KEY = random-string-of-ascii
#SESSION_COOKIE_DOMAIN = autoradio

# Local time zone for this installation. Choices can be found here:
# http://en.wikipedia.org/wiki/List_of_tz_zones_by_name
# although not all choices may be available on all operating systems.
# If running in a Windows environment this must be set to the same as your
# system time zone.
TIME_ZONE = 'Europe/Rome'

# Language code for this installation. All choices can be found here:
# http://www.i18nguy.com/unicode/language-identifiers.html
LANGUAGE_CODE = 'en-us'
#LANGUAGE_CODE = 'it-it'

SITE_ID = 1

# If you set this to False, Django will make some optimizations so as not
# to load the internationalization machinery.
USE_I18N = True

# directories where Django looks for translation files.
LOCALE_PATHS='/usr/share/autoradio/locale',

ADMINS=Your Name your_email@domain.com,
MANAGERS=Your Name your_email@domain.com,

# Absolute path to the directory that holds media.
# Example: "/home/media/media.lawrence.com/"
MEDIA_ROOT = '/<userdir>/django/media'

# Absolute path to the directory that holds static media files (css etc.).
MEDIA_SITE_ROOT='/usr/share/autoradio/media/sito/'

# Put strings here, like "/home/html/django_templates" or "C:/www/django/templates".
# Always use forward slashes, even on Windows.
# Don't forget to use absolute paths, not relative paths.
TEMPLATE_DIRS = "/usr/share/autoradio/templates",

# URL that handles the media served from MEDIA_ROOT. Make sure to use a
# trailing slash if there is a path component (optional in other cases).
# Examples: "http://media.lawrence.com", "http://example.com/media/"
MEDIA_URL = '/django/media/'

# URL prefix for admin media -- CSS, JavaScript and images. Make sure to use a
# trailing slash.
# Examples: "http://foo.com/media/", "/media/".
ADMIN_MEDIA_PREFIX = '/django/media/admin/'

[database]
DATABASE_ENGINE = 'sqlite3'              # 'postgresql_psycopg2', 'postgresql', 'mysql', 'sqlite3' or 'ado_mssql'.
DATABASE_NAME = '/<userdir>/autoradio.sqlite3'      # Or path to database file if using sqlite3.

#DATABASE_ENGINE = 'mysql'               # 'postgresql_psycopg2', 'postgresql', 'mysql', 'sqlite3' or 'ado_mssql'.
#DATABASE_NAME = 'autoradio'             # Or path to database file if using sqlite3.
#DATABASE_USER = 'autoradio'             # Not used with sqlite3.
#DATABASE_PASSWORD = 'autoradio'         # Not used with sqlite3.
#DATABASE_HOST = 'autoradio'               # Set to empty string for localhost. Not used with sqlite3.
#DATABASE_PORT = ''                      # Set to empty string for default. Not used with sqlite3.


