include COPYING
include NEWS
include README
include TODO
include *.txt
include autoradio.wsgi
include default_playlist.xspf
include autoradio_1.ogg
include autoradio_2.ogg
global-include  *.txt *.py *.sh *.in *.cfg *.json *.conf
recursive-include doc *
recursive-include locale *.po
recursive-include templates *
recursive-include global_static *
recursive-include centos *
recursive-include fedora *
prune static
prune amarok 
prune media 
prune debian
prune autoradio.egg-info
global-exclude  *~
