include COPYING
include NEWS
include README
include TODO
include *.txt
include autoradio.wsgi
global-include  *.txt *.py *.sh *.in *.cfg *.json *.conf
recursive-include doc *
recursive-include locale *.po
recursive-include templates *
recursive-include global_static *
#recursive-include debian *
recursive-include centos *
recursive-include fedora *
prune amarok media
