include COPYING
include NEWS
include README
include TODO
include *.txt
include autoradio.spec
global-include  *.txt *.py *.sh *.in *.cfg *.json
recursive-include doc *
recursive-include locale *.po
recursive-include templates *
recursive-include media/sito *
recursive-include debian *
prune amarok
