{% extends "podcast/base.html" %}
{% load i18n %}

{% block allcontent %}
<div id="return-wrap">
<div id="return">
<p>{% trans "A list of shows" %}</p>
</div>
</div>

<div id="content-wrap">
<div id="content">
{% block content %}

{% for show in object_list %}

<h2><a href="{{ show.get_absolute_url }}">{{ show.title }}</a></h2>

<h3>{{ show.organization }}</h3>

{% if show.image %}
<div class="image"><a href="{{ show.get_absolute_url }}"><img src="{{ show.image.url }}" width="{{ show.image.width }}" height="{{ show.image.height }}" alt="{{ show.organization }} show logo" /></a></div>
{% endif %}

<p>{% if show.summary %}{{ show.summary }}{% else %}{{ show.description|striptags }}{% endif %}</p>
{% endfor %}

{% endblock %}
</div>
</div>

{% endblock %}

