{% load i18n %}
{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

{% block head %}

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{% block title %}Django Podcast{% endblock %}</title>
<link href="{% static 'programs/css/podcast.css' %}" rel="stylesheet" type="text/css" media="screen" />

<script type="text/javascript" src="{% static "programs/playogg/js/jquery.min.js" %}"></script>
<script type="text/javascript" src="{% static "programs/playogg/js/jquery.open.js" %}"></script>

<script type="text/javascript">
   $("a.playerPopup").open({
      width: 400,
      height: 300,
      scrollbars: false
   });
</script>

</head>
{% endblock %}

<body>

<div id="header-wrap" style="background: url({% static "programs/mediacastlogo.png" %}) left bottom no-repeat;">
<div id="header">
{% block header %}
<h1>{% trans "Autoradio Mediacast" %}</h1>
{% endblock %}
</div>
</div>


{% block allcontent %}

{% endblock %}


<div id="footer-wrap">
<div id="footer">
{% block footer %}
<p>&#169; {% now "Y" %} {{ object.show.organization }}.</p>
{% endblock %}
</div>
</div>

</body>
</html>
